* {
  box-sizing: border-box;
}
html,
body {
  background-color: rgb(224, 222, 222);
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.app {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.app > * {
  width: 100%;
}

.app input {
  padding: 5px 10px;
  border: 1px solid #898989;
}

.app .progress-container {
  height: 11px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
}

.app .progress-container .progress-bar{
  height: 100%;
  max-width: 100%;
  border-radius: 5px;
}
